<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>{{ title | default("Slim MVC") }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="/style.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>
<body>
    <div class="wrap">
        <header>
            <div class="container">
                <a class="brand" href="/">
                    <img src="/img/logo.png" alt=""/>
                </a>
                <ul class="nav nav-pills pull-right">
                    {% if session.user.uid %}
                        <li><p style="padding: 10px 0;">Hello, {{ session.user.email }}</p></li>
                        <li><a href="{{ urlFor('logout') }}">Logout</a></li>
                    {% else %}
                        <li{% if active_tab == 'login' %} class="active"{% endif %}><a href="{{ urlFor('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <div class="container">
            {% embed "partials/flash_messages.twig" %}{% endembed %}
            {% block content %}{% endblock %}
        </div>
        <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <p class="text-center text-muted">2015 <a href="https://bitbucket.org/yuraigle/">yuraigle</a></p>
        </div>
    </footer>
    <script type="text/javascript" src="/script.min.js"></script>
</body>
</html>