<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Slim Application Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>*{line-height:1.2;margin:0}html{color:#888;display:table;font-family:sans-serif;height:100%;text-align:center;width:100%}body{display:table-cell;vertical-align:middle;margin:2em auto}h1{color:#555;font-size:2em;font-weight:400}p{margin:0 auto;max-width:380px}@media only screen and (max-width:280px){body,p{width:95%}h1{font-size:1.5em;margin:0 0 .3em}}</style>
</head>
<body>
    <h1>Slim Application Error</h1>
    <p>Looks like something went wrong!</p>
    <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
</body>
</html>
