{% if flash.success %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            {% for msg in flash.success|split('|') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if flash.error %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            {% for msg in flash.error|split('|') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if flash.info %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            {% for msg in flash.info|split('|') %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}