@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

@header_height: 175px;
@footer_height: 60px;

body {
  background-color: #fbfbfb;
}

body,
html {
  width: 100%;
  height: 100%;
}
header {
  height: @header_height;
  padding: 50px 0;

  .nav {
    margin-top: 20px;
  }
}

footer {
  height: @footer_height;
  line-height: @footer_height;
  p {
    margin: 0;
  }
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footer_height;
}

.push {
  height: @footer_height;
}