{% extends 'layout.twig' %}
{% set active_tab = 'register' %}

{% block content %}
    <h1 class="page-header">Sign Up</h1>

    <form class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" action="" method="post">
        <div class="form-group">
            <label for="user_email">Email address</label>
            <input type="email" class="form-control" name="user[email]" id="user_email" value="{{ defaults.email }}" />
        </div>
        <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" name="user[password]" id="user_password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="{{ urlFor('login') }}" class="pull-right" style="line-height: 36px;">Already registered? &rarr;</a>
        </div>
    </form>
{% endblock %}