{% extends 'layout.twig' %}
{% set active_tab = 'reset' %}

{% block content %}
    <h1 class="page-header">Reset your password</h1>

    <form class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" action="" method="post">
        <div class="form-group">
            <label for="user_password">New password</label>
            <input type="password" class="form-control" name="user[password]" id="user_password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}